.body-home{
	position:relative;
}

h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home_text {
	color: #c0b283;
	background: rgba(86,86,86,0.7);
}

th {
	background-color: #373737;
	color: #c0b283;
}

tr {
	background-color: #dcd0c0;
}

#boot_nav {
	color: #c0b283;
}

#input_field {
	background: #f8f9fa;
	border: 2px #dcd0c0 solid;
	padding: 20px;
	border-radius: 25px;
}

#about {
	background: #f8f9fa;
	border: 2px #dcd0c0 solid;
	padding: 20px;
	border-radius: 25px;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px 500px 130px 0px;
}

.header-color{
background: #8E2DE2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}
info-grid{
	border-radius:10px;
}